button {
    height: 47px;
    width: 170px;
    &.btn-primary {
        
        border: 2px solid $primary-color;
        background: $primary-color;
        color: #fff;
        outline: none;
        font-size: 20px;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            color: $primary-color;
            background: none;
        }
    }
}