.switch {
	position: relative;
    display: inline-block;
    margin-left: 20px;
	width: 45px;
	height: 24px;
	input {
		opacity: 0;
		width: 0; 
		height: 0;
		&:checked {
			+ {
				.slider {
					background-color: $secondary-color;
					.fas{
						-webkit-transform: translateX(15px);
						-ms-transform: translateX(15px);
						transform: translateX(15px);
					}
				}
			}
		}
		&:focus {
			+ {
				.slider {
					box-shadow: 0 0 1px $secondary-color;
				}
			}
		}
	}
		
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $primary-color;
	-webkit-transition: .4s;
	transition: .4s;

	&.round {
		border-radius: 34px;
		border: 2px solid white;
		display: flex;
		align-items: center;
	}

	.fas{
		background-color: #fff;
		border-radius: 50%;		
		-webkit-transition: .4s;
		padding: 5px;
		transition: .4s;
		&.fa-moon{
			color: $secondary-color;
		}
		&.fa-sun{
			color: $primary-color;
		}
	}
}
